<%= form_for(@test_table) do |f| %>
  <% if @test_table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_table.errors.count, "error") %> prohibited this test_table from being saved:</h2>

      <ul>
      <% @test_table.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
