<h1>Listing test_tables</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @test_tables.each do |test_table| %>
      <tr>
        <td><%= test_table.name %></td>
        <td><%= link_to 'Show', test_table %></td>
        <td><%= link_to 'Edit', edit_test_table_path(test_table) %></td>
        <td><%= link_to 'Destroy', test_table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test table', new_test_table_path %>
